@page
@model MyShop.Web.Pages.Admin.Operative.CreateOperativeContractModel

@{
    ViewData["Title"] = " ایجاد قرارداد همکاری";
    Layout = "Shared/_AdminLayout";
}


<div class="x_panel">
    <div class="x_title">
        <h2>
            اطلاعات قرارداد

        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>

            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post" enctype="multipart/form-data">
            <div class="row">



                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control has-feedback-left" asp-for="Contract.ContractNumber" required="" placeholder="شماره قرارداد">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        @*<span asp-validation-for="Agent.Name" class="text-danger"></span>*@
                    </div>

                    <div class="form-group has-feedback">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            انتخاب نماینده
                            <span class="required">*</span>
                        </label>
                        <select asp-items="@(ViewData["operative"] as SelectList)" asp-for="Contract.OperativeId" class="form-control" id="AgentId"></select>

                        <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                        @*<span asp-validation-for="Agent.Ostan" class="text-danger"></span>*@
                    </div>

                    @*   <input class="btn btn-default" data-MdDateTimePicker="true" data-TargetSelector="#input1" data-EnableTimePicker="true" data-Placement="left" data-Trigger="click">
                        انتخاب تاریخ
                        </input>*@

                    <div class="form-group has-feedback">
                        <input id="stDate" name="stDate" placeholder="تاریخ شروع همکاری ">
                    </div>

                    <div class="form-group has-feedback">
                        <input id="endDate" name="endDate" placeholder="تاریخ پایان همکاری ">
                    </div>

                </div>

            </div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 ">
                    <a asp-page="OperativeContractList" class="btn btn-primary">انصراف</a>
                    <button type="submit" class="btn btn-success">ارسال</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{

<script type="text/javascript">
    $('#stDate').MdPersianDateTimePicker({
        Placement: 'bottom', // default is 'bottom'
        Trigger: 'focus', // default is 'focus',
        EnableTimePicker: false, // default is true,
        TargetSelector: '', // default is empty,
        GroupId: '', // default is empty,
        ToDate: true, // default is false,
        FromDate: true, // default is false,
        EnglishNumber: true
    });

    $('#endDate').MdPersianDateTimePicker({
        Placement: 'bottom', // default is 'bottom'
        Trigger: 'focus', // default is 'focus',
        EnableTimePicker: false, // default is true,
        TargetSelector: '', // default is empty,
        GroupId: '', // default is empty,
        ToDate: true, // default is false,
        FromDate: true, // default is false,
        EnglishNumber: true
    });
</script>

}