@page "{id}"
@model MyShop.Web.Pages.Admin.Operative.ShowOperativeDocumentsModel


@{
    ViewData["Title"] = "مدارک نمایندگی ";
    Layout = "Shared/_AdminLayout";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    مدارک نمایندگی
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>

                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">
                    <div class="col-md-55">
                        <div class="thumbnail">
                            <div class="image view view-first">
                                <img style="width: 100%; display: block;" src="/OperativeDocuments/@Model.Document.SarDarbForoushgahImage" alt="image">
                                <div class="mask">
                                    <p> تصویر سر درب فروشگاه</p>
                                    <div class="tools tools-bottom">
                                        <a href="/OperativeDocuments/@Model.Document.SarDarbForoushgahImage" target="_blank"><i class="fa fa-download"></i></a>
                                        @*<a href="#"><i class="fa fa-pencil"></i></a>
                                            <a href="#"><i class="fa fa-times"></i></a>*@
                                    </div>
                                </div>
                            </div>
                            <div class="caption">
                                <p>تصویر سر درب فروشگاه</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<input type="button" value="بازگشت" onclick="location='/Admin/Operative/Index'" class="btn btn-success" />
