@using MyShop.Core.Security

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>

   

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="fontiran.com:license" content="Y68A9">
    <link rel="icon" href="/Template/build/images/favicon.ico" type="image/ico" />
    <title> پنل مدیریت | @ViewData["Title"] </title>

    <!-- Bootstrap -->
    <link href="/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Template/vendors/bootstrap-rtl/dist/css/bootstrap-rtl.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/Template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="/Template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="/Template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="/Template/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- bootstrap-wysiwyg -->
    <link href="/Template/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/Template/build/css/custom.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="/Template/vendors/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/AdminContent/PersianDate/Content/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />

    @*<partial name="_Styles" />*@

    <!-- Kendo UI -->
    <link href="/Template/build/css/kendo.common.min.css" rel="stylesheet" />
    <link href="/Template/build/css/kendo.default.min.css" rel="stylesheet" />
    
    <link href="Template/build/css/datatables.min.css" rel="stylesheet" />


    <style>
        .tile-stats .count {
            min-height: 62px;
        }
    </style>

</head>
<!-- /header content -->
<body class="nav-md">
    <div class="container body">
        <div class="main_container">

            <partial name="_SideBarAdminPanel" />
            <!-- top navigation -->
            <div class="top_nav hidden-print">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                                   aria-expanded="false">

                                    @*<img src="/UserAvatar/@User)" alt="/Template.">@User.Identity.Name*@
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">

                                    <li><a href="#"><i class="fa fa-user-secret pull-right"></i> تغییر کلمه عبور</a></li>
                                    <li><a href="#"><i class="fa fa-edit pull-right"></i> ویرایش پروفایل</a></li>
                                    <li><a href="/Logout"><i class="fa fa-sign-out pull-right"></i> خروج از سامانه</a></li>
                                </ul>
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- /header content -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">

                    <div class="clearfix"></div>

                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- /page content -->
            <!-- footer content -->
            <footer class="hidden-print">
                <div class="pull-left">
                   
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <div id="lock_screen">
        <table>
            <tr>
                <td>
                    <div class="clock"></div>
                    <span class="unlock">
                        <span class="fa-stack fa-5x">
                            <i class="fa fa-square-o fa-stack-2x fa-inverse"></i>
                            <i id="icon_lock" class="fa fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                    </span>
                </td>
            </tr>
        </table>
    </div>


<!-- jQuery -->
<script src="/Template/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/Template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/Template/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/Template/vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="/Template/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="/Template/vendors/iCheck/icheck.min.js"></script>

<!-- bootstrap-daterangepicker -->
<script src="/Template/vendors/moment/min/moment.min.js"></script>

<script src="/Template/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

<!-- bootstrap-wysiwyg -->
<script src="/Template/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="/Template/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="/Template/vendors/google-code-prettify/src/prettify.js"></script>

<!-- Custom Theme Scripts -->
<script src="/Template/build/js/custom.min.js"></script>
<script src="/Template/build/js/datatables.min.js"></script>
<script src="/Template/build/js/kendo.all.min.js"></script>
<script src="/Template/build/js/kendo.web.min.js"></script>

<script src="/AdminContent/PersianDate/Scripts/MdBootstrapPersianDateTimePicker/calendar.js" type="text/javascript"></script>
<script src="/AdminContent/PersianDate/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>

@RenderSection("Scripts", false)

</body>
</html>



