@page
@model MyShop.Web.Pages.UserPanel.ChangePasswordModel
@{
    Layout = "Shared/_AdminLayout";
}



<div class="login_wrapper">
    <div class="animate form login_form">

        @if (ViewData["IsSuccess"] != null)
        {
            <div class="alert alert-success">
                کلمه عبور شما با موفقیت ویرایش شد
            </div>
        }

        @if (ViewData["InvalidOldPassword"] != null)
        {
            <div class="alert alert-danger">
                <p>کلمه عبور فعلی صحیح نمی باشد</p>
            </div>
        }

        @if (ViewData["NotMatchPassword"] != null)
        {
            <div class="alert alert-danger">
                <p>کلمه های عبور با هم مغایرت دارند !</p>
            </div>
        }

        @if (ViewBag.EditProfile == true)
        {
            <p class="text text-white text-center" style="color: white">
                اطلاعات کاربری یا موفقیت به روز رسانی شد, جهت بارگزاری اطلاعات پروفایل دوباره لاگین کنید

            </p>
        }

        @if (ViewBag.Permission == false)
        {
            <p class="text text-white text-center" style="color: white">شما مجوز دسترسی به این قسمت را ندارید</p>
        }
        <section class="login_content">
            <form method="post">

                <div class="item form-group">

                    <div class="col-md-12">
                        <input name="oldPassword" asp-for="ChangePassword.OldPassword" required="" class="form-control  " placeholder="کلمه عبور  فعلی را وارد نمایید" type="password">
                        <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="ChangePassword.OldPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="item form-group">

                    <div class="col-md-12">
                        <input name="password" asp-for="ChangePassword.Password" required="" class="form-control  " placeholder="  کلمه عبور  جدید را وارد نمایید" type="password">
                        <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="ChangePassword.Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="item form-group">

                    <div class="col-md-12">
                        <input name="rePassword" asp-for="ChangePassword.RePassword" required="" class="form-control  " placeholder=" تکرار کلمه عبور جدید را وارد نمایید" type="password">
                        <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="ChangePassword.RePassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="item form-group">

                    <input type="submit" class="btn btn-info btn-lg" value="تغییر کلمه عبور  " />

                </div>
                <div class="clearfix"></div>

            </form>
        </section>
    </div>
</div>
