@page
@using MyShop.Core.Convertors
@model MyShop.Web.Pages.UserPanel.ProfileModel
@{
    Layout = "Shared/_AdminLayout";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    مشخصات کاربر
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>

                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <div class="thumbnail">
                                <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="/UserDocument/@Model.Information.UsersDocument.PersonalImage" alt="image">
                                    <div class="mask">
                                       
                                        <div class="tools tools-bottom">
                                            <a href="/UserPanel/EditProfileImage/@Model.Information.UserId"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        
                       
                    </div>
                    
                  
                    <h3>@(Model.Information.FirstName + " " + Model.Information.LastName)</h3>

                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa  fa-envelope fa-envelope-o user-profile-icon"></i> @Model.Information.Email
                        </li>

                        <li>
                            <i class="fa fa-mobile user-profile-icon"></i> @Model.Information.Mobile
                        </li>
                        <li>
                            <i class="fa fa-calendar user-profile-icon"></i> @Model.Information.CreateDate.ToShamsi()
                        </li>

                    </ul>

                    <a href="/UserPanel/EditProfile" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>&nbsp;ویرایش پروفایل</a>
                    <br>



                </div>

            </div>
        </div>
    </div>
</div>