@page
@model MyShop.Web.Pages.Admin.Agent.CreateAgentModel
@{
    ViewData["Title"] = "افزودن نمایندگی";
    Layout = "Shared/_AdminLayout";
}

@*<div class="row">
    <div class="col-lg-12">
    <h1 class="page-header">افزودن نمایندگی </h1>
    </div>
    <!-- /.col-lg-12 -->
    </div>*@

@*<div class="row">
    <form method="post" enctype="multipart/form-data">
    <div class="col-md-8">
    <div class="panel panel-primary">
    <div class="panel-heading">
    اطلاعات نمایندگی
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
    <div class="form-group">
    <label>نام </label>
    <input asp-for="Agent.Name" type="text" class="form-control">
    </div>
    <div class="form-group">
    <label>استان </label>
    <input asp-for="Agent.Ostan" type="text" class="form-control">
    </div>
    <div class="form-group">
    <label>شهر </label>
    <input asp-for="Agent.City" type="text" class="form-control">
    </div>
    <div class="form-group">
    <label>آدرس </label>
    <input asp-for="Agent.Address" type="text" class="form-control">
    </div>
    <div class="form-group">
    <label>کد پستی </label>
    <input asp-for="Agent.PostalCode" type="text" class="form-control">
    </div>
    <div class="form-group">
    <label>تلفن ثابت  </label>
    <input asp-for="Agent.TelePhone" type="text" class="form-control">
    </div>
    <div class="form-group">
    <label>نمابر </label>
    <input asp-for="Agent.Fax" type="text" class="form-control">
    </div>
    <div class="form-group">
    <label>ایمیل</label>
    <input asp-for="Agent.Email" type="email" class="form-control">
    </div>
    <div class="form-group">
    <label>وب سایت  </label>
    <input asp-for="Agent.WebSite" type="text" class="form-control">
    </div>
    <div class="form-group">
    <label>نوع مالکیت  </label>
    <input asp-for="Agent.NoeMalekiat" type="text" class="form-control">
    </div>
    <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
    </div>
    <!-- /.panel-body -->
    </div>
    </div>
    </form>
    </div>*@



<div class="x_panel">
    <div class="x_title">
        <h2>
            اطلاعات نمایندگی

        </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            @*<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                <li>
                <a href="#">تنظیمات 1</a>
                </li>
                <li>
                <a href="#">تنظیمات 2</a>
                </li>
                </ul>
                </li>*@
            <li>
                <a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form method="post" enctype="multipart/form-data">
            <div class="row">



                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                    <div class="form-group has-feedback">
                        <input asp-for="Agent.Name" type="text" class="form-control has-feedback-left" required=""  placeholder="نام">
                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <select asp-items="@(ViewData["province"] as SelectList)" class="form-control" asp-for="Agent.Ostan" id="OstanId"></select>

                        <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.Ostan" class="text-danger"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <select asp-items="@(ViewData["City"] as SelectList)" class="form-control" asp-for="Agent.City"></select>
                        @*<span asp-validation-for="CreateAgentViewModel.CityId" class="text-danger"></span>
                        <input asp-for="Agent.City" type="text" class="form-control has-feedback-left" required="" placeholder="شهر">*@
                        <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.City" class="text-danger"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input asp-for="Agent.Email" type="email" class="form-control has-feedback-left" required="" placeholder="ایمیل ">
                        <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <textarea asp-for="Agent.Address" type="text" class="form-control has-feedback-left" required="" placeholder="آدرس "></textarea>
                        @*<textarea id="textarea" required="required" placeholder="آدرس " name="textarea" class="form-control col-md-7 col-xs-12"></textarea>*@
                        <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.Address" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 form-group">
                    <div class="form-group has-feedback">
                        <input asp-for="Agent.PostalCode" type="text" class="form-control has-feedback-left" required="" placeholder="کدپستی">
                        <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.PostalCode" class="text-danger"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input asp-for="Agent.TelePhone" type="text" class="form-control has-feedback-left" required="" placeholder="تلفن ثابت">
                        <span class="fa fa-phone form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.TelePhone" class="text-danger"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input asp-for="Agent.Fax" type="text" class="form-control has-feedback-left" placeholder="نمابر">
                        <span class="fa fa-fax form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.Fax" class="text-danger"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input asp-for="Agent.WebSite" type="text" class="form-control has-feedback-left" placeholder=" وب سایت">
                        <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.WebSite" class="text-danger"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input asp-for="Agent.NoeMalekiat" type="text" class="form-control has-feedback-left" placeholder="نوع مالکیت ">
                        <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                        <span asp-validation-for="Agent.NoeMalekiat" class="text-danger"></span>
                    </div>

                    
                </div>



            </div>
            <div class="form-group">
                <div class="col-md-9 col-sm-9 col-xs-12 ">
                    <a asp-page="Index" class="btn btn-primary">انصراف</a>
                    <button type="submit" class="btn btn-success">ارسال</button>
                </div>
            </div>
        </form>
    </div>
</div>


@*<script src="/AdminContent/validator/js/validator.js"></script>
<script src="/AdminContent/validator/js/jquery.validate.min.js"></script>
<script src="/AdminContent/validator/js/jquery.validate.unobtrusive.min.js"></script>*@
@*<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
<script>

    CKEDITOR.replace('Agent_Address', {
        customConfig: '/js/Config.js'
    });

</script>*@
@section Scripts{ 
    
    <script>
        $("#OstanId").change(function () {
          
            $("#Agent_City").empty();
            $.getJSON("/home/GetCityByOstanId/" + $("#OstanId :selected").val(),
                function (data) {
                    $.each(data,
                        function () {
                            $("#Agent_City")
                                .append('<option value=' + this.value + '>' + this.text + '</option>');
                        });
                });
        });
    </script>

}







