@page "{id}"
@model MyShop.Web.Pages.Admin.User.EditUserDocumentsModel

@{
    Layout = "Shared/_AdminLayout";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ویرایش مدارک کاربر </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<style>
    .img-thumbnail {
        max-height: 108px !important;
        min-height: 108px;
    }

    .view-first img {
        transition: all .2s linear;
        width: 100%;
    }

    .col-md-55 {
        float: right !important;
    }

    .thumbnail {
        height: 231px !important;
        display: block;
        padding: 0px;
        margin-bottom: 23px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
    }
</style>

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                ویرایش مدارک
            </h2>
            <div class="clearfix">
            </div>
        </div>



        <div class="x_content">

            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        @if (Model.Document == null)
                        {
                                <img id="imgBaseFrontNationalImage" src="/UserDocument/avatar.jpg" class="img-thumbnail imgdefaultupload" />
                        }
                        else
                        {
                            string extention = System.IO.Path.GetExtension(Model.Document.FrontNationalImage);
                            if (extention == "gif" || extention == "jpg" || extention == "png" || extention == "jpeg" || extention == "bpm")
                            {
                                        <img id="imgBaseFrontNationalImage" src="/UserDocument/@Model.Document.FrontNationalImage" class="img-thumbnail imgdefaultupload" />
                            }
                            else
                            {
                                        <a class="btn btn-app" href="/UserDocument/@Model.Document.FrontNationalImage" target="_blank" style="background-color: #0000ff63; color: #fff;">
                                            <i class="fa fa-download"></i> دانلود
                                        </a>
                            }

                            @* <div class="mask">
                                <a href="/UserDocument/@Model.Document.FrontNationalImage" target="_blank">
                                <p>تصویر روی کارت ملی</p>
                                <div class="tools tools-bottom">
                                <i class="fa fa-link"></i>
                                <i class="fa fa-pencil"></i>

                                </div>
                                </a>
                                </div>*@
                        }

                        @*<div class="mask">
                            <a href="/UserDocument/@Model.Document.MojavezeKasbImage" target="_blank">
                            <p>تصویر مجوز کسب</p>
                            <div class="tools tools-bottom">
                            <i class="fa fa-link"></i>
                            <i class="fa fa-pencil"></i>

                            </div>
                            </a>
                            </div>*@
                    </div>
                    <div class="caption">
                        <p>تصویر روی کارت ملی</p>
                        <input id="FrontNationalImage" name="files" type="file" size="1" accept="image/png, image/gif, image/jpeg,image/jpg,image/bmp" />
                        <input type="button" value="آپلود تصویر " onclick="uploadFiles('FrontNationalImage', 'SpanFrontNationalImageUpload','fileProgressFrontNationalImage');" class="btn btn-success" />
                        <span class="text text-success" id="SpanFrontNationalImageUpload"></span>
                        <progress id="fileProgressFrontNationalImage" style="display: none"></progress>
                    </div>
                </div>
            </div>
            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        @if (Model.Document == null)
                        {
                                <img id="imgBaseBackNationalImage" src="/UserDocument/avatar.jpg" class="img-thumbnail imgdefaultupload" />
                        }
                        else
                        {
                            string extention = System.IO.Path.GetExtension(Model.Document.BackNationalImage);
                            if (extention == "gif" || extention == "jpg" || extention == "png" || extention == "jpeg" || extention == "bpm")
                            {
                                        <img id="imgBaseBackNationalImage" src="/UserDocument/@Model.Document.BackNationalImage" class="img-thumbnail imgdefaultupload" />
                            }
                            else
                            {
                                        <a class="btn btn-app" href="/UserDocument/@Model.Document.BackNationalImage" target="_blank" style="background-color: #0000ff63; color: #fff;">
                                            <i class="fa fa-download"></i> دانلود
                                        </a>

                            }

                        }

                        @*<div class="mask">
                            <a href="/UserDocument/@Model.Document.SherkatnameImage" target="_blank">
                            <p>تصویر شرکت نامه</p>
                            <div class="tools tools-bottom">
                            <i class="fa fa-link"></i>
                            <i class="fa fa-pencil"></i>

                            </div>
                            </a>
                            </div>*@
                    </div>
                    <div class="caption">
                        <p>تصویر پشت کارت ملی  </p>
                        <input id="BackNationalImage" name="files" type="file" size="1" accept="image/png, image/gif, image/jpeg,image/jpg,image/bmp" />
                        <input type="button" value="آپلود تصویر " onclick="uploadFiles('BackNationalImage', 'SpanBackNationalImageUpload','fileProgressBackNationalImage');" class="btn btn-success" />
                        <span class="text text-success" id="SpanBackNationalImageUpload"></span>
                        <progress id="fileProgressBackNationalImage" style="display: none"></progress>
                    </div>
                </div>
            </div>
            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        @if (Model.Document == null)
                        {
                                <img id="imgBaseFrontShenasnamehImage" src="/UserDocument/avatar.jpg" class="img-thumbnail imgdefaultupload" />
                        }
                        else
                        {
                            string extention = System.IO.Path.GetExtension(Model.Document.FrontShenasnamehImage);
                            if (extention == "gif" || extention == "jpg" || extention == "png" || extention == "jpeg" || extention == "bpm")
                            {
                                        <img id="imgBaseFrontShenasnamehImage" src="/UserDocument/@Model.Document.FrontNationalImage" class="img-thumbnail imgdefaultupload" />
                            }
                            else
                            {
                                        <a class="btn btn-app" href="/UserDocument/@Model.Document.FrontShenasnamehImage" target="_blank" style="background-color: #0000ff63; color: #fff;">
                                            <i class="fa fa-download"></i> دانلود
                                        </a>

                            }

                        }

                        @*<div class="mask">
                            <a href="/UserDocument/@Model.Document.FrontShenasnamehImage" target="_blank">
                            <p>تصویر روزنامه رسمی</p>
                            <div class="tools tools-bottom">
                            <i class="fa fa-link"></i>
                            <i class="fa fa-pencil"></i>

                            </div>
                            </a>
                            </div>*@
                    </div>
                    <div class="caption">
                        <p>تصویر صفحه اول شناسنامه </p>
                        <input id="FrontShenasnamehImage" name="files" type="file" size="1" accept="image/png, image/gif, image/jpeg,image/jpg,image/bmp" />
                        <input type="button" value="آپلود تصویر " onclick="uploadFiles('FrontShenasnamehImage', 'SpanFrontShenasnamehImageUpload','fileProgressFrontShenasnamehImage');" class="btn btn-success" />
                        <span class="text text-success" id="SpanFrontShenasnamehImageUpload"></span>
                        <progress id="fileProgressFrontShenasnamehImage" style="display: none"></progress>
                    </div>
                </div>
            </div>

            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        @if (Model.Document == null)
                        {
                                <img id="imgBaseDescriptionShenasnamehImage" src="/UserDocument/avatar.jpg" class="img-thumbnail imgdefaultupload" />
                        }
                        else
                        {
                            string extention = System.IO.Path.GetExtension(Model.Document.DescriptionShenasnamehImage);
                            if (extention == "gif" || extention == "jpg" || extention == "png" || extention == "jpeg" || extention == "bpm")
                            {
                                        <img id="imgBaseDescriptionShenasnamehImage" src="/UserDocument/@Model.Document.DescriptionShenasnamehImage" class="img-thumbnail imgdefaultupload" />
                            }
                            else
                            {
                                        <a class="btn btn-app" href="/UserDocument/@Model.Document.DescriptionShenasnamehImage" target="_blank" style="background-color: #0000ff63; color: #fff;">
                                            <i class="fa fa-download"></i> دانلود
                                        </a>

                            }

                        }

                        @* <div class="mask">
                            <a href="/UserDocument/@Model.Document.DescriptionShenasnamehImage" target="_blank">
                            <p>تصویر آگهی تاسیس</p>
                            <div class="tools tools-bottom">
                            <i class="fa fa-link"></i>
                            <i class="fa fa-pencil"></i>

                            </div>
                            </a>
                            </div>*@
                    </div>
                    <div class="caption">
                        <p>تصویر صفحه توضیحات شناسنامه</p>
                        <input id="DescriptionShenasnamehImage" name="files" type="file" size="1" accept="image/png, image/gif, image/jpeg,image/jpg,image/bmp" />
                        <input type="button" value="آپلود تصویر " onclick="uploadFiles('DescriptionShenasnamehImage', 'SpanDescriptionShenasnamehImageUpload','fileProgressDescriptionShenasnamehImage');" class="btn btn-success" />
                        <span class="text text-success" id="SpanDescriptionShenasnamehImageUpload"></span>
                        <progress id="fileProgressDescriptionShenasnamehImage" style="display: none"></progress>
                    </div>
                </div>
            </div>
            <div class="col-md-55">
                <div class="thumbnail">
                    <div class="image view view-first">
                        @if (Model.Document == null)
                        {
                                <img id="imgBasePersonalImage" src="/UserDocument/avatar.jpg" class="img-thumbnail imgdefaultupload" />
                        }
                        else
                        {
                            string extention = System.IO.Path.GetExtension(Model.Document.PersonalImage);
                            if (extention == "gif" || extention == "jpg" || extention == "png" || extention == "jpeg" || extention == "bpm")
                            {
                                        <img id="imgBasePersonalImage" src="/UserDocument/@Model.Document.PersonalImage" class="img-thumbnail imgdefaultupload" />
                            }
                            else
                            {
                                        <a class="btn btn-app" href="/UserDocument/@Model.Document.PersonalImage" target="_blank" style="background-color: #0000ff63; color: #fff;">
                                            <i class="fa fa-download"></i> دانلود
                                        </a>

                            }

                        }

                        @* <div class="mask">
                            <a href="/UserDocument/@Model.Document.PersonalImage" target="_blank">
                            <p>تصویر آخرین آگهی تغییرات</p>
                            <div class="tools tools-bottom">
                            <i class="fa fa-link"></i>
                            <i class="fa fa-pencil"></i>

                            </div>
                            </a>
                            </div>*@
                    </div>
                    <div class="caption">
                        <p>تصویر عکس 4*3  </p>
                        <input id="PersonalImage" name="files" type="file" size="1" accept="image/png, image/gif, image/jpeg,image/jpg,image/bmp" />
                        <input type="button" value="آپلود تصویر " onclick="uploadFiles('PersonalImage', 'SpanPersonalImageUpload','fileProgressPersonalImage');" class="btn btn-success" />
                        <span class="text text-success" id="SpanPersonalImageUpload"></span>
                        <progress id="fileProgressPersonalImage" style="display: none"></progress>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<hr />
<input type="button" value="بازگشت" onclick="location='/Admin/User/Index'" class="btn btn-success" />
<script>


          function uploadFiles(inputId, spanId,fileprocess) {
              //debugger;
                var input = document.getElementById(inputId);
                var spanMessage = document.getElementById(spanId);
                var fileprocessId = document.getElementById(fileprocess);

                $(spanMessage).html('');
                var files = input.files;
                var formData = new FormData();

                //console.log(files);

                for (var i = 0; i != files.length; i++) {
                    formData.append("files", files[i]);
                }

                $.ajax(
                    {
                        url: "/Home/UploadUserDocument?term=" + inputId + "&userId=" +@ViewData["UserId"].ToString()+"",
                        data: formData,
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {

                             $(fileprocessId).hide();
                            if (data == "success") {
                                $(spanMessage).html('فایل با موفقیت بارگزاری شد');
                            }
                            if (data == "maxfile") {
                                $(spanMessage).html('حداکثر حجم فایل بایستی 30 مگ باشد');
                            }
                            if (data == "failed") {
                                $(spanMessage).html('لطفا فایل مورد نظر را انتخاب کنید');
                            }
                        },
                                                                    xhr: function() {
                                                                        var fileXhr = $.ajaxSettings.xhr();
                                                                        if (fileXhr.upload) {
                                                                            $(fileprocessId).show();
                                                                            fileXhr.upload.addEventListener("progress", function(e) {
                                                                                if (e.lengthComputable) {
                                                                                    $(fileprocessId).attr({
                                                                                        value: e.loaded,
                                                                                        max: e.total
                                                                                    });
                                                                                }
                                                                            }, false);
                                                                        }
                                                                        return fileXhr;
                                                                    },
                                                                    error: function(err) {
                                                                        alert(err.statusText);
                                                                    }
                    }
                );
            }

            function readURL(input) {

                debugger;
                var name = $(input).attr("id");
                ImageBase = "#imgBase" + name;
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {

                        $(ImageBase).attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }

            }

    function getFileExtension(filename)
    {
      var ext = /^.+\.([^.]+)$/.exec(filename);
      return ext == null ? "" : ext[1];
    }

        $("#FrontNationalImage").change(function () {
                readURL(this);
            });

        $("#BackNationalImage").change(function () {
                readURL(this);
            });
        $("#FrontShenasnamehImage").change(function () {
                readURL(this);
            });
        $("#DescriptionShenasnamehImage").change(function () {
                readURL(this);
            });
        $("#PersonalImage").change(function () {
                readURL(this);
            });



</script>

